html {
  height: 100%;
  width: 100%;
  }

body {
  font-family: 'Gaegu', sans-serif;
  background-image: url(./wallpaper.jpg);
  background-size: cover;
}
  
img {
  width: 200px;
  border-radius: 16px;
}
  
h1 {
  padding: 4px;
  margin: 4px
    
}
  
#window {
  position: absolute;
  text-align: center;
  background-color: rgb(128, 213, 242);
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid;
  width: fit-content;
  padding: 30 px;
  margin: 15px;

}

#handle {
  background-color: rgba(0, 0, 0, 0.25);
}
  
.topBar {
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  flex-direction: row;
  backdrop-filter: blur(10px); 
  background-color: rgba(0, 0, 0, 0.25); 
  color: #fff;
}
.topBar h1 {
  text-align: center;
}

#handle img {
  display: flex;
  width: 15px;
  height: auto;
  justify-content: flex-end;
  padding: 15px;
}

#closebutton {
  cursor: pointer;
}
  
  
  
